COMPOSE_PROJECT_NAME=thingsboard_edge
COMPOSE_PROFILES=development
TB_SERVER=iot.embrapa.io
TB_EDGE_KEY=GET_IN_TB_SERVER
TB_EDGE_SECRET=GET_IN_TB_SERVER
PORT_WEB=9190
PORT_MQTT=9883
PORT_PGADMIN=9191
DB_USER=edge
DB_PASSWORD=secret
PGADMIN_USER=first.surname@embrapa.br
PGADMIN_PASSWORD=secret
VOLUME_DB=thingsboard_edge_db
VOLUME_EDGE=thingsboard_edge_data
VOLUME_LOG=thingsboard_edge_log
VOLUME_BACKUP=thingsboard_edge_backup
VOLUME_PGADMIN=thingsboard_edge_pgadmin
